// @font-face {
//     font-family: 'Open Sans';
//     src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');;

$font-family: 'Open Sans', sans-serif;

$color-background: #59C9A5;
$color-container: #56E39F;